footer {
    background-color: rgb(53, 53, 53);
    padding-bottom: 4%;

    @include desktop-only {
        padding-bottom: 2%;
    }

    @include tablet-only {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        filter: invert(1);
        width: 28%;
        padding: 10% 0 0 8%;

        @include desktop-only {
            width: 10%;
            padding: 2% 0 1% 45%;
        }
    }

    ul {
        list-style: none;
        color: white;
        margin-left: -1%;
        padding-left: 30px;

        @include desktop-only {
            display: flex;
        }

        @include tablet-only {
            display: flex;
            justify-content: space-between;
            margin-left: unset;
            padding-left: unset;
        }

        li {
            padding-bottom: 3%;

            @include desktop-only {
                padding: 0 7% 0 8%;
                width: 120%;
            }

            @include tablet-only {
                padding: 0 2% 0 1%;
            }

            i {
                font-size: small;
                padding-right: 5%;

                @include tablet-only {
                    padding-right: 6%;
                }
            }

            a {
                color: rgb(255, 255, 255)
            }
        }
    }
}