.restaurants-card {
    background-color: white;
    padding: 0;
    width: 95%;
    height: 220px;
    border-radius: 20px;
    margin-top: 45px;
    box-shadow: $shadow;

    @include desktop-only {
        width: 22%;
    }

    @include tablet-only {
        width: 84%;
        margin-left: 3%;
        margin-right: 3%;
    }


    a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 220px;
        color: black;

        #new-item {
            position: absolute;
            left: 73%;
            font-size: small;
            font-weight: 500;
            background-color: $color-tertiary;
            color: rgb(0, 135, 102);
            padding: 1% 2% 1% 2%;
            border-radius: 5%;

            @include desktop-only {
                position: absolute;
                left: 5%;
                padding: 0.2% 0.4% 0.2% 0.4%;
            }
        }

        #new-item2 {
            position: absolute;
            left: 73%;
            font-size: small;
            font-weight: 500;
            background-color: $color-tertiary;
            color: rgb(0, 135, 102);
            padding: 1% 2% 1% 2%;
            border-radius: 5%;

            @include desktop-only {
                position: absolute;
                left: 29.3%;
                padding: 0.2% 0.4% 0.2% 0.4%;
            }
        }
    }



    img {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        height: 70%;
        padding: 0;
        width: 100%;
    }


    &_body {
        display: flex;
        justify-content: space-between;
        height: 30%;

        span {
            display: flex;
            align-items: center;
            height: 100%;
            margin-right: 5%;
        }

        @include tablet-only {
            height: 35%;
        }
    }
}

.restaurants-card_body_description {
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;

    @include tablet-only {
        padding-bottom: 3%;
    }

    h4 {
        margin-top: 10px;
        margin-bottom: 5%;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        color: rgb(80, 80, 80);
        font-size: small;
    }
}