.localisation {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    color: black;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-top: 2.2px;
    margin-bottom: 0;

    i {
        padding: 0 4% 0 4%;
    }
}

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $background-grey;
    padding-bottom: 10%;

    h2 {
        text-align: center;
        padding: 0;
        font-size: 30px;
        padding: 0 10% 0 10%;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        color: rgb(80, 80, 80);
    }

    a {
        margin: 8% 0 8% 0;
        color: rgb(255, 255, 255);
    }
}

.fonctionnement {
    padding: 6% 3% 6% 3%;

    ol {
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            display: inline-block;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-right: 5%;
            background-color: rgb(246, 246, 246);
            padding: 6% 0 6% 0;
            border-radius: 15px;
            box-shadow: $shadow;

            span {
                color: white;
                background-color: $color-primary;
                padding: 0.9% 2.2% 0.9% 2.2%;
                border-radius: 50%;
                margin-right: 3%;
            }

            i {
                color: rgb(141, 141, 141);
                padding: 0 3% 0 3%;
            }
        }
    }
}

.restaurants {
    padding: 10% 0 15% 4%;
    background-color: $background-grey;
}