// Couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Polices
$txt-title: 'Shrikhand', cursive;
$txt-txt: 'Roboto', sans-serif;

//Box-shadow
$shadow: 0 5px 5px 0 rgba(70, 70, 70, 0.2);